#Directories
build/
/bin/
/logs/
/data/
/maven/
/FabricTesting/build/
/FabricTesting/run/
/FabricTesting/.gradle/

#Hidden Directories
.gradle/
.settings/
.mtj.tmp/
.idea/

#File Extensions
*.iml
*.ipr
*.iws
*.war
*.ear
*.class
*.classpath
*.project

#File Types
hs_err_pid*